@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var nombre = User.FindFirst("Name")?.Value;
        <p>Hola de nuevo, @nombre</p>
    }
    else
    {
        <p>Inicia sesión <a asp-controller="Users" asp-action="Login">para acceder a todas nuestras funciones</a>.</p>
    }

</div>
